:root{
    --dark-gray: hsl(0, 0%, 59%);
}


html{
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
    /* background-image: url(./images/bg-pattern-top.svg); */
    background-color: hsl(185, 75%, 39%);
}

.background-top{
    background-image: url(./images/bg-pattern-top.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    top: -20%;
    left: -50%;
    position: absolute;
    background-position: bottom left;
}
.background-bottom {
    background-image: url(./images/bg-pattern-bottom.svg);
    background-size: cover;
    width: 100%;
    height: 50%;
    bottom: -0%;
    right: -40%;
    position: absolute;
}

.card-container {
    display: flex;
    flex-direction: column;
    width: 24vw;
    min-width: 300px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
}

.card-head {
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
    height: 20vh;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}
.card-head > img {
    position: absolute;
    bottom: -48px;
    border-radius: 50%;
    border: 4px solid white;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vh;
    border: 2px solid hsla(0, 0%, 59%, 0.212);
}

.card-body > h2 {
    padding-top: 38px;
}
h2 {
    margin: 2px;
    padding: 0px;
    font-size: 18px;
}

h3{
    color: hsl(0, 0%, 59%);
    padding: 4px;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
}

b {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

p {
    color: hsl(0, 0%, 59%);
    padding: 4px;
    margin: 0px;
    font-weight: 400;
    font-size: 12px;
}
.card-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.card-footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    position: absolute;
    bottom: 40px;
}